.bg{
	background-color: rgb(162,51,236);
}
.logo{
	padding-top: 50px;
}
.menu{
	padding-top: 10px;
	border-right: solid;
	border-width: 1px;
	border-color: rgb(160,160,160);
}
.highLight{
	padding-top: 10px;
    background-color: rgb(255,255,255);
}
.carousel-caption {
	color: rgb(32,32,32);
   	top:-20px;
}
.lo-pd{
	padding-top: 60px;
}
.slice{
	padding-bottom: 10px
}
p{
	font-size: 16px;
	margin: 15px;
	font-weight: bold;
	color: rgb(255,255,255);
}
.list{
	border-top:solid;
	border-width: 1px;
	border-color: rgb(162,51,236);
	
}
